<?php
/** @var \Nwuae\Customer\Block\Account\Dashboard $block */
?>

<!-- <?php $eventsPrevious = $block->getEventsData(false); ?>
<?php $eventsNext = $block->getEventsData(true); ?>
<div class="block calender-event">
      <div class="block-title">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"><strong class="events-calendar-previous" id="eventsCalendarPrevious" ><i class="fa fa-chevron-left" aria-hidden="true"></i></strong></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 t-center"><strong class="events-calendar-month">
        <?php echo $block->getEventsMonth() ?>
    </strong></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 t-right"><strong class="events-calendar-next" id="eventsCalendarNext" ><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></div>
        </div>
        
        
        
    </div>
<?php //echo $block->getEvents() ?>
<div class="events-calendar">
</div>
</div>
  

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui', 'cevents'], function($){
        $(document).on("click","#eventsCalendarPrevious", function() {
            $(".events-calendar-month").getCalendar('<?php echo $eventsPrevious['month']?>', '<?php echo $eventsPrevious['year'] ?>', '<?php echo $block->getEventsUrl() ?>');
        });
        $(document).on("click","#eventsCalendarNext", function() {
            $(".events-calendar-month").getCalendar('<?php echo $eventsNext['month']?>', '<?php echo $eventsNext['year'] ?>', '<?php echo $block->getEventsUrl() ?>');
        });
    });
</script> -->

<?php $eventsPrevious = $block->getEventsData(false); ?>
<?php $eventsNext = $block->getEventsData(true); ?>
    <!-- <h3>
        <span class="events-calendar-previous" id="eventsCalendarPrevious" >prev</span>
        <span class="events-calendar-month">
        <?php echo $block->getEventsMonth() ?>
    </span>
        <span class="events-calendar-next" id="eventsCalendarNext" >next</span>
    </h3> -->
<?php //echo $block->getEvents() ?>
<!-- <div class="events-calendar">
</div> -->
<script type="text/javascript">
    require(['jquery', 'jquery/ui', 'cevents'], function($){
    jQuery(document).ready(function(){
        function getCalendarPrev($month, $year, $url){
            jQuery(".events-calendar-month").getCalendar($month, $year, $url);
        }
        function getCalendarNext($month, $year, $url){
            jQuery(".events-calendar-month").getCalendar($month, $year, $url);
        }
    });
});
</script>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui', 'cevents'], function($){
        $(document).on("click","#eventsCalendarPrevious", function() {
            $(".events-calendar-month").getCalendar('<?php echo $eventsPrevious['month']?>', '<?php echo $eventsPrevious['year'] ?>', '<?php echo $block->getEventsUrl() ?>');
        });
        $(document).on("click","#eventsCalendarNext", function() {
            $(".events-calendar-month").getCalendar('<?php echo $eventsNext['month']?>', '<?php echo $eventsNext['year'] ?>', '<?php echo $block->getEventsUrl() ?>');
        });
    });
</script>