<?php
/** @var \Nwuae\Customer\Block\Account\Dashboard $block */
$helper = $this->helper('Nwuae\ActiveWhere\Helper\Data');
$currencyHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
?>
<?php $calendarDetail = $this->getCalendarDetail();
 ?>


<!-- <div id="<?php echo $this->getId() ?>" style="display:none;" class="event-pop <?php echo $this->getClass(); ?>">
    <?php if(($calendarDetail->Day <  date('d')) || ($calendarDetail->Month < date('n'))): ?>
        <span class="past">
        <h3><?php echo ucwords(strtolower($calendarDetail->DocumentType)) ?></h3>
        <p class="service-date"><?php echo $helper->formatAcwDate($calendarDetail->DocumentDate, 1) ?></p>
        <p class="service-confirmation"><?php echo __('Service Confirmation Document:') ?></p>
        <p class="actions-toolbar"><span class="primary"><a class="button button-secondary action primary" href="<?php echo $this->getUrl('*/documents/download', array('id' => $calendarDetail->DocumentID)) ?>" target="_blank"><?php echo strtoupper('Download<span> Document</span>') ?></a></span></p>
    </span>
    <?php else:  ?>
        <h3><?php echo ucwords(strtolower($calendarDetail->DocumentType)); ?></h3>
        <div class="event-order-number"><?php echo __('Order #'.$calendarDetail->DocumentNumber) ?> - <?php echo $this->helper('Nwuae\ActiveWhere\Helper\Data')->formatAcwDate($calendarDetail->DocumentDate, 1) ?></div>
        <?php if (isset($calendarDetail->CalendarDetailItems->CalendarDetailItem)): ?>
            <div class="event-order-title"><?php echo __('Items Ordered')  ?></div>
            <?php foreach($calendarDetail->CalendarDetailItems->CalendarDetailItem as $_item): ?>
                <div class="event-item-description"><?php echo ucwords(strtolower($_item->ItemDescription)) ?></div>
                <div class="event-item-price"><?php echo __('<span>Price:</span>'.$this->helper('Magento\Framework\Pricing\Helper\Data')->currency($_item->Price, true, false)) ?></div>
                <div class="event-item-qty"><?php echo __('<span>Qty:</span> '.$_item->Qty) ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
        <div class="event-item-subtotal"><strong><?php echo __('Subtotal')  ?>:</strong> <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($calendarDetail->Subtotal, true, false) ?></div>
    <?php endif; ?>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: false
            };
            var popup = modal(options, $('#<?= $this->getId() ?>'));
            $("#button-<?= $this->getId() ?>").on('click',function(){
                $("#<?= $this->getId() ?>").modal("openModal");
            });
        }
    );
</script> -->

<div id="<?php echo $this->getId() ?>" style="display:none;" class="event-pop <?php echo $this->getClass(); ?>">
    <?php if(($calendarDetail->Day <  date('d')) || ($calendarDetail->Month < date('n'))): ?>
        <span class="past">
        <h3><?php echo ucwords(strtolower($calendarDetail->DocumentType)) ?></h3>
        <p class="service-date"><?php echo $helper->formatAcwDate($calendarDetail->DocumentDate, 1) ?></p>
        <p class="service-confirmation"><?php echo __('Service Confirmation Document:') ?></p>
        <p><a class="button button-secondary" href="<?php echo $this->getUrl('*/documents/download', array('id' => $calendarDetail->DocumentID)) ?>" target="_blank"><?php echo strtoupper(__('Download<span> Document</span>')) ?></a></p>
    </span>
    <?php else:  ?>
        <h3><?php echo ucwords(strtolower($calendarDetail->DocumentType)); ?></h3>
        <div class="event-order-number"><?php echo __('Order #'.$calendarDetail->DocumentNumber) ?> - <?php echo $this->helper('Nwuae\ActiveWhere\Helper\Data')->formatAcwDate($calendarDetail->DocumentDate, 1) ?></div>
        <?php if (isset($calendarDetail->CalendarDetailItems->CalendarDetailItem)): ?>
            <div class="event-order-title"><?php echo __('Items Ordered')  ?></div>
            <?php foreach($calendarDetail->CalendarDetailItems->CalendarDetailItem as $_item): ?>
                <div class="event-item-description"><?php echo ucwords(strtolower($_item->ItemDescription)) ?></div>
                <div class="event-item-price"><?php echo __('<span>Price:</span>'.$this->helper('Magento\Framework\Pricing\Helper\Data')->currency($_item->Price, true, false)) ?></div>
                <div class="event-item-qty"><?php echo __('<span>Qty:</span> '.$_item->Qty) ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
        <div class="event-item-subtotal"><strong><?php echo __('Subtotal')  ?>:</strong> <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($calendarDetail->Subtotal, true, false) ?></div>
    <?php endif; ?>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: false
            };
            var popup = modal(options, $('#<?= $this->getId() ?>'));
            $("#button-<?= $this->getId() ?>").on('click',function(){
                $("#<?= $this->getId() ?>").modal("openModal");
            });
        }
    );
</script>
