<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customer_type_id = $customerSession->getTypeId();
$npl = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/npl');
$am = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/am');
?>
<?php if (!$block->getCategory()) {
    return;
} ?>
<?php
$helper = $this->helper('Nwuae\Customer\Helper\Data');
$values = $helper->_getCustomer();
?>
        <?php $brandName = 'al-manhal'; ?>
        <?php if($customer_type_id == "1"): ?>
            <?php $brandName = 'pure-life'; ?>
        <?php elseif($customer_type_id == "2"): ?>
            <?php $brandName = 'al-manhal'; ?>
        <?php else: ?>
            <?php $brandName = ''; ?>
        <?php endif; ?>
<?php $_categories = $block->getCurrentChildCategories() ;?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count) :?>
    <div class="block filter">
        <div class="title">
            <strong><?= $block->escapeHtml(__('Browse By')) ?></strong>
        </div>
        <p class="block-subtitle accordion">Filter By</p>
        <div class="content panel">
            <strong class="subtitle"><?= $block->escapeHtml(__('Shopping Options')) ?></strong>
            <dl class="options" id="narrow-by-list2">
                <dt><?= $block->escapeHtml(__('Category')) ?></dt>
                <dd>
                    <ol class="items">
                        <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
                        <?php foreach ($_categories as $_category) :?>
                            <?php if ($_category->getIsActive()) :?>
                                <?php /*if($_category->getUrlKey() == 'coupons') : ?>
                                        <?php if($values->getId() && $values->getTypeId() != 0) : ?>
                                            <li class="item <?php echo $values->getId(); ?>">
                                                <a href="<?= $block->escapeUrl($block->getCategoryUrl($_category)) ?>"
                                                    <?php if ($block->isCategoryActive($_category)) :?>
                                                        class="current"
                                                    <?php endif; ?>
                                                ><?= $block->escapeHtml($_category->getName()) ?></a>
                                                <!-- <span class="count">(<?= $block->escapeHtml($_category->getProductCount()) ?>)</span> -->
                                            </li>
                                        <?php endif; ?>
                                <?php else :*/ ?>
                                    <li class="item">
                                        <?php if($_category->getUrlKey() != $brandName) : ?>
                                        <a href="<?= $block->escapeUrl($block->getCategoryUrl($_category)) ?>"
                                            <?php if ($block->isCategoryActive($_category)) :?>
                                                class="current"
                                            <?php endif; ?>
                                        ><?= $block->escapeHtml($_category->getName()) ?></a>
                                        <!-- <span class="count">(<?= $block->escapeHtml($_category->getProductCount()) ?>)</span> -->
                                    <?php endif; ?>
                                    </li>
                                <?php // endif; ?> 
                                
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
<?php endif; ?>
