<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * phpcs:disable
 */

/** @var Magento\CustomerCustomAttributes\Block\Form $block */
?>
<!-- <div class="page-title">
    <h1><?= $block->escapeHtml(__('Edit Account Information')) ?></h1>
</div> -->

<div class="block ">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Info')) ?><strong></div>
    <div class="block-content row">

        <div class="column alpha col-lg-6 col-md-12 col-sm-12 col-xs-12 left-access general-settings">
            <strong class="box-title"><span><?= $block->escapeHtml(__('General Settings')) ?></span></strong>
            <div class="access-inner box-content">
                <p>
                    <?php if ($block->getCustomer()->getCustomAttribute('acw_customer_id')): ?><?= $block->escapeHtml(__('Account Number:', $block->getCustomer()->getCustomAttribute('acw_customer_id')->getValue())) ?>
                        <?= $block->getCustomer()->getCustomAttribute('acw_customer_id')->getValue(); ?> </br>
                    <?php endif; ?>
                    <?= $block->getCustomer()->getFirstName(); echo $block->getCustomer()->getLastName() ?></br>
                    <?= $block->getCustomer()->getEmail(); ?></br>
                    <?php if ($block->getCustomer()->getCustomAttribute('customer_mobile')) {
                        echo $block->getCustomer()->getCustomAttribute('customer_mobile')->getValue();
                    }?>
                </p>
                


                <form class="form form-edit-account toggle-form" action="<?= /* @noEscape */ $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
            <div class="row">
                <div class="go-link-grey edit-form-link accordion"><?= $block->escapeHtml(__('Edit')) ?><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div> 
        <fieldset class="fieldset info panel">
            <?= $block->getBlockHtml('formkey') ?>
            <?php if ($block->getCustomer()->getCustomAttribute('customer_mobile')): ?>
                <input type="hidden" name="customer_mobile" value="<?= $block->getCustomer()->getCustomAttribute('customer_mobile')->getValue(); ?>"/>
            <?php endif; ?>
            <!-- <legend class="legend"><span><?= $block->escapeHtml(__('Account Information')) ?></span></legend><br> -->
            <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getCustomer())->toHtml() ?>

            <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
            <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
            <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
            <?php if ($_dob->isEnabled()): ?>
                <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
            <?php endif ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?= $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
            <?php endif ?>
            <?php if ($_gender->isEnabled()): ?>
                <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
            <?php endif ?>
            <div class="field choice">
                <input type="checkbox" name="change_email" id="change-email" data-role="change-email" value="0" title="<?= $block->escapeHtmlAttr(__('Change Email')) ?>" class="checkbox" />
                <label class="label" for="change-email"><span><?= $block->escapeHtml(__('Change Email')) ?></span></label>
            </div>
            
            <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_user_attributes'); ?>
            <?php if ($userDefinedAttributes):?>
                <?php $userDefinedAttributes->setEntityType('customer')->setShowContainer(false);?>
                <?php $block->restoreSessionData($userDefinedAttributes->getMetadataForm());?>
                <?= $userDefinedAttributes->toHtml() ?>
            <?php endif;?>

            <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>
        </fieldset>

        <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
<!--         <div class="go-link-grey edit-form-link accordion"><?= $block->escapeHtml(__('Change Password')) ?><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>  -->
        <div class="field choice change-pass-btn">
                <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>" class="checkbox" />
                <label class="label" for="change-password"><span><?= $block->escapeHtml(__('Change Password')) ?></span><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></label>
            </div> 
        <fieldset class="fieldset password panel" data-container="change-email-password">
            <!-- <legend class="legend"><span data-title="change-email-password"><?= $block->escapeHtml(__('Change Email and Password')) ?></span></legend><br> -->
            <div class="field email required" data-container="change-email">
                <!-- <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label> -->
                <div class="control">
                    <input type="email" placeholder="Email" autocomplete="email" name="email" id="email" data-input="change-email" value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
                </div>
            </div>
            <div class="field password current required">
                <!-- <label class="label" for="current-password"><span><?= $block->escapeHtml(__('Current Password')) ?></span></label> -->
                <div class="control">
                    <input type="password" placeholder="<?= $block->escapeHtml(__('Current Password')) ?>" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
                </div>
            </div>
            <div class="field new password required" data-container="new-password">
                <!-- <label class="label" for="password"><span><?= $block->escapeHtml(__('New Password')) ?></span></label> -->
                <div class="control">
                    <input placeholder="<?= $block->escapeHtml(__('New Password')) ?>" type="password" class="input-text" name="password" id="password"
                        data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                        data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                        data-input="new-password"
                        data-validate="{required:true, 'validate-customer-password':true}"
                        autocomplete="off" />
                    <!-- <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?= $block->escapeHtml(__('Password Strength')) ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                <?= $block->escapeHtml(__('No Password')) ?>
                            </span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="field confirm password required" data-container="confirm-password">
                <!-- <label class="label" for="password-confirmation"><span><?= $block->escapeHtml(__('Confirm New Password')) ?></span></label> -->
                <div class="control">
                    <input type="password" placeholder="<?= $block->escapeHtml(__('Confirm New Password')) ?>" class="input-text" name="password_confirmation" id="password-confirmation"
                        data-input="confirm-password"
                        autocomplete="off" />
                </div>
            </div>
            <!-- <?= $block->getChildHtml('form_additional_info') ?> -->
            <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>
        </fieldset></div>
        
    </form>
            </div>
        </div>
        <div class="column omega col-lg-6 col-md-12 col-sm-12 col-xs-12 right-access order-confirmation">
            <strong class="box-title"><span><?= $block->escapeHtml(__('Order Confirmation Methods')) ?></span></strong>
                <div class="access-inner box-content">
                        <?= $block->getChildHtml('Orderconfirmationmethods') ?>
                </div>
        </div>
    </div>   
</div> 


    <div class="block notifications-block">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Notifications')) ?><strong></div>
         <div class="block-content row">
             <div class="column omega col-lg-6 col-md-12 col-sm-12 col-xs-12 right-access communication-optin">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Coupons Notification Settings')) ?></span></strong>
                <div class="access-inner">
                    <?= $block->getChildHtml('couponsnotificationsettings') ?>
                </div>
            </div>
            <div class="column omega col-lg-6 col-md-12 col-sm-12 col-xs-12 right-access communication-optin">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Delivery Reminder Notifications')) ?></span></strong>
                <div class="access-inner">
                    <?= $block->getChildHtml('deliveryremindernotifications') ?>
                </div>
            </div>

         </div>   
    </div>
    
    
<div class="block communication-block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Communication Opt In')) ?></strong></div>
        <div class="block-content row">
            <div class="column omega col-lg-12 col-md-12 col-sm-12 col-xs-12 right-access communication-optin">
        
                <div class="access-inner">
                    <?= $block->getChildHtml('communicationoptin') ?>
                </div>
            </div>
        </div>
</div>

    
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= $block->escapeJs(__('Change Email')) ?>",
                "titleChangePassword": "<?= $block->escapeJs(__('Change Password')) ?>",
                "titleChangeEmailAndPassword": "<?= $block->escapeJs(__('Change Email and Password')) ?>"
            }
        },  
        "*": {
            "Magento_CustomerCustomAttributes/validation": {
                "ignore": <?= (int) ($_dob->isEnabled() || $userDefinedAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int) $userDefinedAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int) $_dob->isEnabled() ?>,
                "mixins": [
                    "Magento_CustomerCustomAttributes/error-placement",
                    "Magento_CustomerCustomAttributes/validation-ignore"
                ]
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
<?php
/**
 * phpcs:enable
 */
?>