<!-- End Content -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td>
         <table class="footer-table"><tr><td align="center" background="{{media url="images/footer_bg.png"}}" style="background-size: cover;">
            <h5 class="closing-text" style="font-weight:700;line-height:1.1;color:#fff;font-size:28px;margin-top:140px;margin-bottom:45px">Drink better. Live better.</h5>
             <p class="copyright-text" style="margin-top:0;color:#fff;margin-bottom:30px">Nestlé © and Pure Life  © 2019 are registered trademarks of Société des Produits Nestlé  - Switzerland</p>
          </td></tr></table> 
    </td>
</tr>
</table>
<!-- End wrapper table -->
</body>

