<?php

/** @var \Nwuae\Customer\Block\Address\Book $block */
?>
<?php $_acwAccountStatusActive = $this->helper('Nwuae\Customer\Helper\Data')->getAcwAccountStatusActive() ?>
<div class="page-title title-buttons">
    <button type="button" title="<?php echo __('Add New Address') ?>" class="button" onclick="window.location='<?php echo $block->getAddAddressUrl() ?>';"><span><span><?php echo __('Add New Address') ?></span></span></button>
</div>
<?php $acwAddressStreet = ''; ?>
<div class="block">
<div class="addresses-list row">
    <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12 left-access">
        <div class="address-box">
            <!-- Use billing address(es) for billing and shipping -->
            <?php if($_pAddsses = $this->helper('Nwuae\Customer\Helper\Data')->_getCustomer()->getDefaultBilling()): ?>
                <legend class="legend"><span><?php echo __('Delivery Addresses') ?></span></legend>
                <h4><?php echo __('Upcoming Orders Delivery Addresses') ?></h4>
               
                <address class="box-content">
                    <?php $_address = $this->helper('Nwuae\Customer\Helper\Data')->_getCustomer()->getAddressById($_pAddsses);
                    $acwAddressStreet = $_address->getStreet(); ?>
                    <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                </address>

                <div class="actions">
                    <?php if ($_address->getAcwCustomerAddressStatus() == $_acwAccountStatusActive): ?>
                        <div id="suspend-delivery" data-id="<?php echo $_address->getId() ?>"></div>
                    <?php endif; ?>
                </div>
            <?php else: ?>
                <h3 class="box-title"><?php echo __('Delivery Addresses') ?></h3>
                <p class="box-content"><?php echo __('You have no default shipping address in your address book.') ?></p>
            <?php endif ?>
            <div class="spacer"></div>
            <h4 class="sub-title"><?php echo __('Additional Address Entries') ?></h4>
            <?php if($_pAddsses = $block->getAdditionalAddressess()): ?>
                <?php foreach($_pAddsses as $_address): ?>
                    <?php $newaddress = $block->loadAddressbyId($_address); ?>
                    <?php if($newaddress->getStreet() != $acwAddressStreet){ ?>
                    <address class="box-content">
                        <?php echo $block->getAddressHtml($_address) ?><br />
                    </address>
                    <div class="actions">
                        <a href="<?php echo $this->getUrl('customer/address/edit', array('id' => $_address->getId())) ?>"><?php echo __('Edit Address') ?></a><br>
                        <?php
                        if ($newaddress->getAcwCustomerAddressStatus() == $_acwAccountStatusActive): ?>
                            <div id="suspend-delivery" class="suspend-delivery-<?php echo $_address->getId() ?>" data-id="<?php echo $_address->getId() ?>">
                            </div>

                            <script type="text/javascript">
                                require(['jquery', 'suspendPopup'], function ($) {
                                    $('.suspend-delivery-<?php echo $_address->getId() ?>').click(function(){
                                        var id = $(this).data('id');
                                        //var url = <?//= $block->getPopupUrl() ?>//+ id;
                                        $(".column").suspendDeliveryPopup('<?php echo $block->getPopupUrl() ?>', id);
                                    });
                                });
                            </script>
                        
                        <?php endif; ?>
                    </div>
                    <?php } ?>
                <?php endforeach; ?>
            <?php else: ?>
                <div class="item empty">
                    <p><?php echo __('You have no additional address entries in your address book.') ?></p>
                </div>
            <?php endif ?>
       </div>
    </div>

    <?php
//    var_dump($block->getBillingAddresses());exit();
    if($_pAddsses = $block->getBillingAddresses()): ?>
        <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12 right-access">
            <div class="address-box">
                <legend class="legend"><span><?php echo __('Billing Address') ?></span></legend>
                <?php foreach($_pAddsses as $_address): ?>
                    <address class="box-content">
                        <?php echo $block->getAddressHtml($_address) ?><br />
                    </address>
                <?php endforeach; ?>
            </div>
        </div>
    <?php endif ?>

</div>
</div>
<div id="suspend-delivery-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>



<div id="popup-modal" style="display:none;">
</div>



<script type="text/javascript">
    require([
        'jquery',
        'suspend'
    ], function ($) {
        $(".column").suspendDelivery('<?php echo $block->getSuspendDeliveryUrl() ?>');
    });
</script>

<script type="text/javascript">
    require(['jquery', 'suspendPopup'], function ($) {
        $('#suspend-delivery').click(function(){
            var id = $(this).data('id');
            //var url = <?//= $block->getPopupUrl() ?>//+ id;
            $(".column").suspendDeliveryPopup('<?php echo $block->getPopupUrl() ?>', id);
        });
    });
</script>

