<?php
/**
 * phpcs:disable
 */
use Magento\Framework\App\Action\Action;
?>
<?php
$showWishlist = true;
$loadProduct = \Magento\Framework\App\ObjectManager::getInstance();//phpcs:ignore

$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);//phpcs:ignore
// @codingStandardsIgnoreStart
$cat_id = $block->getLayer()->getCurrentCategory()->getId();

// @codingStandardsIgnoreEnd
$ewalletCategoryId = $this->helper('Nwuae\EWallet\Helper\Data')->getCategoryId();//phpcs:ignore
$couponCategoryId = $this->helper('Nwuae\MappingProduct\Helper\Data')->getCouponCategoryID('choosecategory');//phpcs:ignore
$isEnableForExisting = $this->helper('Nwuae\MappingProduct\Helper\Data')->getEnableForExisting('couponproduct');//phpcs:ignore
if ($cat_id == $couponCategoryId) {
    $blockObj = $block->getLayout()->createBlock('Nwuae\MappingProduct\Block\MappingProduct');//phpcs:ignore
    $baseProduct = $blockObj->getProductBySKU();
    $customerExisting = $blockObj->getCustomerExisting();
    if ($isEnableForExisting) {
        if ($customerExisting) {
            $_productCollection->addAttributeToFilter('attribute_set_id', ['neq' => 12]);
        }
    }
    if ($baseProduct) {
        $baseProductGroupPrice = number_format($baseProduct, 2, '.', '');
        $_productCollection = $block->customProductCollection($baseProductGroupPrice);
        ?>
        <?php if (!$_productCollection->count()) ://phpcs:ignore?>
            <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.'))//phpcs:ignore?></div></div>
        <?php else ://phpcs:ignore?>
            <?= $block->getToolbarHtml()?>
            <?= $block->getAdditionalHtml()?>
            <?php
            if ($block->getMode() == 'grid') {
                $viewMode = 'grid';
                $imageDisplayArea = 'category_page_grid';
                $showDescription = true;
                $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;//phpcs:ignore
            } else {
                $viewMode = 'list';
                $imageDisplayArea = 'category_page_list';
                $showDescription = true;
                $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;//phpcs:ignore
            }
            $pos = $block->getPositioned();
            $count = 0;
            ?>
            <?php if ($customerExisting) {?>
                <ol class="products list items product-items">
                    <?php foreach ($_productCollection as $_product) ://phpcs:ignore?>
                                <?php $count++?>
                                <li class="item product product-item">
                                    <div class="product-item-info" data-container="product-<?= /* @noEscape */
                                    $viewMode?>">
                                        <?php
                                        $productImage = $block->getImage($_product, $imageDisplayArea);
                                        if ($pos != null) {
                                            $position = ' style="left:'.$productImage->getWidth() . 'px;'. 'top:' . $productImage->getHeight() . 'px;"';//phpcs:ignore
                                        }
                                        ?>
                                        <a href="<?= $block->escapeUrl($_product->getProductUrl())?>"
                                           class="product photo product-item-photo"
                                           tabindex="-1">
                                            <?= $productImage->toHtml()?>
                                        </a>
                                        <?php
                                        // @codingStandardsIgnoreStart
                                        $product1 = $loadProduct->get('Magento\Catalog\Model\Product')
                                            ->load($_product->getId());//phpcs:ignore
                                        // @codingStandardsIgnoreEnd
                                        if ($product1->getData('is_wallet')) {?>
                                            <span title="Ewallet Product" class="ewal_icon">
                                            </span>
                                            <?php
                                        }?>
                                        <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : ''//phpcs:ignore?>>
                                            <?php if ($addToBlock = $block->getChildBlock('addto')) ://phpcs:ignore?>
                                                <?= $addToBlock->setProduct($_product)->getChildHtml()?>
                                            <?php endif;?>
                                        </div>
                                        <div class="product details product-item-details">
                                            <?php
                                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);//phpcs:ignore
                                            ?>
                                            <strong class="product name product-item-name">
                                                <a class="product-item-link"
                                                   href="<?= $block->escapeUrl($_product->getProductUrl())?>">
                                                    <?= /* @noEscape */
                                                    $_helper->productAttribute($_product, $_product->getName(), 'name')//phpcs:ignore?>
                                                </a>
                                            </strong>
                                            <?php if ($showDescription) ://phpcs:ignore?>
                                                <div class="product description product-item-description">
                                                    <?= /* @noEscape */
                                                    $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')//phpcs:ignore?>
                                                </div>
                                            <?php endif;?>
                                            <?= $block->getReviewsSummaryHtml($_product, $templateType)?>
                                            <?= /* @noEscape */
                                            $block->getProductPrice($_product)?>
                                            <!-- <div class="vat_label"><?= $block->escapeHtml(__('(INCLUDING VAT)'))?></div> -->
                                            <?php if ($_product->isAvailable()) ://phpcs:ignore?>
                                                <?= $block->getProductDetailsHtml($_product)?>
                                            <?php endif;?>

                                            <div class="product-item-inner">
                                                <div class="actions-primary">
                                                    <?php if ($_product->isSaleable()) ://phpcs:ignore?>
                                                        <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)) ://phpcs:ignore?>
                                                            <button class="action tocart primary"
                                                                    data-mage-init='{"redirectUrl":{"url":
                                                                    "<?= $block->escapeUrl(
                                                                        $block->getAddToCartUrl($_product)
                                                                    )?>"}}'<?php //phpcs:ignore ?>
                                                                    type="button"
                                                                    title="<?= $block->escapeHtmlAttr(__('Add'))?>">
                                                                <span><?= $block->escapeHtml(__('Add'))?></span>
                                                            </button>
                                                        <?php else ://phpcs:ignore?>
                                                            <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');//phpcs:ignore
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);//phpcs:ignore
                                                            $postParams = json_decode($postData, true);
                                                            ?>
                                                            <form 
                                                                  data-product-sku="<?= $block->escapeHtmlAttr(
                                                                      $_product->getSku()
                                                                  )//phpcs:ignore?>"
                                                                  action="<?= /* @noEscape */
                                                                    $block->escapeUrl($postParams['action'])?>"
                                                                  method="post">
                                                                <input type="hidden"
                                                                       name="product"
                                                                       value="<?= /* @noEscape */ $postParams['data']
                                                                        ['product']?>">
                                                                <input type="hidden"
                                                                       name="<?= /* @noEscape */
                                                                       Action::PARAM_NAME_URL_ENCODED//phpcs:ignore?>"
                                                                       value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]//phpcs:ignore?>">
                                                                <?= /* @noEscape */ $block->getBlockHtml('formkey')?>

                                                                <div class="qty-wrapper">
                                                                    <label for="super_group_<?= /* @noEscape */
                                                                    $_product->getSku();?>"
                                                                           class="qty-label"> 
                                                                           <?= $block->escapeHtmlAttr(__('Qty'))?>
                                                                       </label>
                                                                    <input id="super_group_<?= /* @noEscape */
                                                                    $_product->getSku();?>"
                                                                           type="text" pattern="\d*" name="qty"
                                                                           maxlength="12" value="1" title="Qty"
                                                                           class="input-text qty">
                                                                </div>
                                                                <button type="submit"
                                                                        title="<?= $block->escapeHtmlAttr(__('Add'))?>"
                                                                        class="action tocart primary btn-pink">
                                                                    <span><?= $block->escapeHtml(__('Add'))?></span>
                                                                </button>
                                                            </form>
                                                        <?php endif;?>
                                                    <?php else ://phpcs:ignore?>
                                                        <?php if ($_product->getIsSalable()) ://phpcs:ignore?>
                                                            <div class="stock available">
                                                                <span><?= $block->escapeHtml(__('In stock'))?></span>
                                                            </div>
                                                        <?php else ://phpcs:ignore?>
                                                            <div class="stock unavailable">
                                                                <span><?= $block->escapeHtml(__('Out of stock'))?>
                                                            </span>
                                                            </div>
                                                        <?php endif;?>
                                                    <?php endif;?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php //}?>
                    <?php endforeach;?>
                </ol>
                <?php if ($count == 0) {?>
                <div class="message info empty"><div><?= $block->escapeHtml(
                    __('We can\'t find products matching the selection.')
                    )//phpcs:ignore?></div></div>
            <?php }?>
            <?php } else {?>
            <div class="products wrapper <?= /* @noEscape */ $viewMode?> products-<?= /* @noEscape */ $viewMode?>">
                <ol class="products list items product-items">
                    <?php /**
                           * @var $_product \Magento\Catalog\Model\Product
                           */?>
                    <?php foreach ($_productCollection as $_product) ://phpcs:ignore?>
                            <li class="item product product-item">
                                <div class="product-item-info" data-container="product-<?= /* @noEscape */
                                $viewMode?>">
                                    <?php
                                    $productImage = $block->getImage($_product, $imageDisplayArea);
                                    if ($pos != null) {
                                        $position = ' style="left:'.$productImage->getWidth().'px;'.'top:'.
                                        $productImage->getHeight().'px;"';//phpcs:ignore
                                    }
                                    ?>
                                    <a href="<?= $block->escapeUrl($_product->getProductUrl())?>"
                                        class="product photo product-item-photo" tabindex="-1">
                                        <?= /* @noEscape */ $productImage->toHtml()?>
                                    </a>
                                    <?php
                                    // @codingStandardsIgnoreStart
                                    $product1 = $loadProduct->get('Magento\Catalog\Model\Product')->load($_product->getId());//phpcs:ignore
                                    // @codingStandardsIgnoreEnd
                                    if ($product1->getData('is_wallet')) {?>
                                        <span title="Ewallet Product" class="ewal_icon"></span>
                                        <?php
                                    }?>
                                    <div data-role="add-to-links" class="actions-secondary"
                                    <?= strpos($pos, $viewMode . '-secondary') ?
                                    $block->escapeHtmlAttr($position) : ''//phpcs:ignore?>>
                                        <?php if ($addToBlock = $block->getChildBlock('addto')) ://phpcs:ignore?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml()?>
                                        <?php endif;?>
                                    </div>
                                    <div class="product details product-item-details">
                                        <?php
                                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);//phpcs:ignore
                                        ?>
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link"
                                               href="<?= $block->escapeUrl($_product->getProductUrl())?>">
                                                <?= /* @noEscape */
                                                $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                                            </a>
                                        </strong>
                                        <?php if ($showDescription) ://phpcs:ignore?>
                                            <div class="product description product-item-description">
                                                <?= /* @noEscape */
                                                $_helper->productAttribute(
                                                    $_product,
                                                    $_product->getShortDescription(),
                                                    'short_description'
                                                )?>
                                            </div>
                                        <?php endif;?>
                                        <?= $block->getReviewsSummaryHtml($_product, $templateType)?>
                                        <?= /* @noEscape */
                                        $block->getProductPrice($_product)?>
                                        <!-- <div class="vat_label"><?= $block->escapeHtml(__('(INCLUDING VAT)'))?></div> -->
                                        <?php if ($_product->isAvailable()) ://phpcs:ignore?>
                                            <?= $block->getProductDetailsHtml($_product)?>
                                        <?php endif;?>

                                        <div class="product-item-inner">
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()) ://phpcs:ignore?>
                                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)) ://phpcs:ignore?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl":{"url":
                                                                "<?= $block->escapeUrl(
                                                                    $block->getAddToCartUrl($_product)
                                                                )?>"}}'<?php //phpcs:ignore ?>
                                                                type="button"
                                                                title="<?= $block->escapeHtmlAttr(__('Add'))?>">
                                                            <span><?= $block->escapeHtml(__('Add'))?></span>
                                                        </button>
                                                    <?php else ://phpcs:ignore?>
                                                        <?php
                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');//phpcs:ignore
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);//phpcs:ignore
                                                        $postParams = json_decode($postData, true);//phpcs:ignore
                                                        ?>
                                                        <form 
                                                              data-product-sku="<?= $block->escapeHtmlAttr(
                                                                  $_product->getSku()
                                                              )//phpcs:ignore?>"
                                                              action="<?= $block->escapeUrl($postParams['action'])?>"
                                                              method="post">
                                                            <input type="hidden"
                                                                   name="product"
                                                                   value="<?= /* @noEscape */ $postParams['data']
                                                                    ['product']?>">
                                                            <input type="hidden"
                                                                   name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED//phpcs:ignore?>"
                                                                   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]//phpcs:ignore?>">
                                                            <?= /* @noEscape */ $block->getBlockHtml('formkey')?>

                                                            <div class="qty-wrapper">
                                                                <label for="super_group_<?= /* @noEscape */
                                                                $_product->getSku();?>"
                                                                       class="qty-label"> <?= $block->escapeHtmlAttr(
                                                                           __('Qty')
                                                                       )//phpcs:ignore?> </label>
                                                                <input id="super_group_<?= /* @noEscape */
                                                                $_product->getSku();?>"
                                                                       type="text" pattern="\d*" name="qty"
                                                                       maxlength="12" value="1" title="Qty"
                                                                       class="input-text qty">
                                                            </div>
                                                            <button type="submit"
                                                                    title="<?= $block->escapeHtmlAttr(__('Add'))?>"
                                                                    class="action tocart primary btn-pink">
                                                                <span><?= $block->escapeHtml(__('Add'))?></span>
                                                            </button>
                                                        </form>
                                                    <?php endif;?>
                                                <?php else ://phpcs:ignore?>
                                                    <?php if ($_product->getIsSalable()) ://phpcs:ignore?>
                                                        <div class="stock available">
                                                            <span><?= $block->escapeHtml(__('In stock'))?></span>
                                                        </div>
                                                    <?php else ://phpcs:ignore?>
                                                        <div class="stock unavailable">
                                                            <span><?= $block->escapeHtml(__('Out of stock'))?></span>
                                                        </div>
                                                    <?php endif;?>
                                                <?php endif;?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    <?php endforeach;?>
                </ol>
            </div>
            <?php }?>
            <?= $block->getToolbarHtml()?>
        <?php endif;
    } else {
        ?>
        <div class="message info empty">
            <div>
            <?= $block->escapeHtml(__('We can\'t find products matching the selection.'))?>
            </div>
        </div>
        <?php
    }
} elseif ($cat_id == $ewalletCategoryId) {
    $ConfigHelper = $this->helper(Nwuae\QuickShop\Helper\Data::class);//phpcs:ignore
    $getMappedCategory = $ConfigHelper->getCategoryConfig('enable1');
    $_productCollection = $block->allProducts();
    
    // codingStandardsIgnoreStart
    if (!$_productCollection->count()) ://phpcs:ignore
        // @codingStandardsIgnoreEnd
        ?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.'))?></div></div><?php //phpcs:ignore ?> 
        <?php
    else ://phpcs:ignore?>
        <?= $block->getToolbarHtml()?>
    <?= $block->getAdditionalHtml()//phpcs:ignore?>
    <?php//phpcs:ignore
    if ($block->getMode() == 'grid') {//phpcs:ignore
        $viewMode = 'grid';//phpcs:ignore
        $imageDisplayArea = 'category_page_grid';//phpcs:ignore
        $showDescription = true;//phpcs:ignore
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;//phpcs:ignore
    } else {//phpcs:ignore
        $viewMode = 'list';//phpcs:ignore
        $imageDisplayArea = 'category_page_list';//phpcs:ignore
        $showDescription = true;//phpcs:ignore
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;//phpcs:ignore
    }//phpcs:ignore
    $pos = $block->getPositioned();//phpcs:ignore
    //phpcs:ignore?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode?> products-<?= /* @noEscape */ $viewMode?>">
        <ol class="products list items product-items">
            <?php /**
                   * @var $_product \Magento\Catalog\Model\Product
                   */?>
            <?php foreach ($_productCollection as $_product) ://phpcs:ignore?>
                <li class="item product product-item">
                    <div class="product-item-info masterdiv" data-container="product-<?= /* @noEscape */ $viewMode?>">
                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';//phpcs:ignore
                        }
                        ?>
                        <a href="javascript:void(0);"
                           class="product photo product-item-photo productid_<?= /* @noEscape */ $_product->getId();?>"
                           tabindex="-1" data-sku="<?= /* @noEscape */ $_product->getSku();
                            ?>" data-productid="<?= /* @noEscape */ $_product->getId();?>">
                            <?= /* @noEscape */ $productImage->toHtml()?>
                            <?= /* @noEscape */ $_product->getName();?>
                            <?php
                            // @codingStandardsIgnoreStart
                            $product1 = $loadProduct->get('Magento\Catalog\Model\Product')->load($_product->getId());//phpcs:ignore
                            // @codingStandardsIgnoreEnd    
                            ?>
                            <div data-role="add-to-links" class="actions-secondary"<?= /* @noEscape */ strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : ''//phpcs:ignore?>>
                                <?php if ($addToBlock = $block->getChildBlock('addto')) ://phpcs:ignore?>
                                    <?= /* @noEscape */ $addToBlock->setProduct($_product)->getChildHtml()?>
                                <?php endif;?>
                            </div>
                            <div class="product details product-item-details">
                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);//phpcs:ignore
                                ?>
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                       href="<?= $block->escapeUrl($_product->getProductUrl())?>">
                                        <?= /* @noEscape */ $_product->getName();?>
                                    </a>
                                </strong>
                                <?php if ($showDescription) ://phpcs:ignore?>
                                    <div class="product description product-item-description">
                                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')//phpcs:ignore?>
                                    </div>
                                <?php endif;?>
                                <?= $block->getReviewsSummaryHtml($_product, $templateType)?>
                                <?= /* @noEscape */ $block->getProductPrice($_product)?>
                                <!-- <div class="vat_label"><?= $block->escapeHtml(__('(INCLUDING VAT)'))?></div> -->
                                <?php if ($_product->isAvailable()) ://phpcs:ignore?>
                                    <?= $block->getProductDetailsHtml($_product)?>
                                <?php endif;?>
                                <div class="product-item-inner">
                                    <?php //if ($showCart):?>
                                                <div class="actions-primary">
                                                    <?php if ($_product->isSaleable()) ://phpcs:ignore?>
                                                        <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)) ://phpcs:ignore?>
                                                            <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_product))?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add'))?>"><?php //phpcs:ignore ?> 
                                                                <span><?= $block->escapeHtml(__('Add'))?></span>
                                                            </button>
                                                        <?php else ://phpcs:ignore?>
                                                            <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');//phpcs:ignore
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);//phpcs:ignore
                                                            $postParams = json_decode($postData, true);
                                                            ?>
                                                            <form 
                                                                  data-product-sku="<?= /* @noEscape */
                                                                    $block->escapeHtmlAttr($_product->getSku())?>"
                                                                  action="<?= /* @noEscape */
                                                                    $block->escapeUrl($postParams['action'])?>"
                                                                  method="post">
                                                                <input type="hidden"
                                                                       name="product"
                                                                       value="<?= /* @noEscape */
                                                                        $postParams['data']['product']?>">
                                                                <input type="hidden" name="<?=  /* @noEscape */
                                                                Action::PARAM_NAME_URL_ENCODED?>"
                                                                       value="<?= /* @noEscape */ $postParams['data']
                                                                        [Action::PARAM_NAME_URL_ENCODED]?>">
                                                                <?= $block->getBlockHtml('formkey')?>

                                                                <div class="qty-wrapper quantity buttons_added">
                                                                    <label for="super_group_<?= /* @noEscape */
                                                                    $_product->getSku();?>" class="qty-label">
                                                                    <?= $block->escapeHtmlAttr(__('Qty'))?> </label>
                                                                    <div class="input-qty-box">
                                                                    <input type="button" value="-" class="minus">
                                                                    <input id="super_group_<?= /* @noEscape */
                                                                    $_product->getSku();
?>" type="number" pattern="\d*" name="qty" maxlength="12" value="0" title="Qty" class="input-text qty" step="1" min="0" max="" data-sku="<?= /* @noEscape */ $_product->getSku();?>"<?php //phpcs:ignore ?>
data-productid="<?= /* @noEscape */ $_product->getId();?>"
data-productname="<?= /* @noEscape */ $_product->getName();?>"
data-productprice = "<?= /* @noEscape */ $_product->getPrice();?>" readonly >
                                                                    <input type="button" value="+" class="plus"></div>
                                                                    <input type="hidden" class="currentprice_<?= /* @noEscape */ $_product->getId();?> subtotal" value="0"><?php //phpcs:ignore ?>
                                                                </div>
                                                                <button type="submit"
                                                                        title="<?= $block->escapeHtmlAttr(__('Add'))?>"
                                                                        class="action tocart primary btn-pink">
                                                                    <span><?= $block->escapeHtml(__('Add'))?></span>
                                                                </button>
                                                            </form>
                                                        <?php endif;?>
                                                    <?php else ://phpcs:ignore?>
                                                        <?php if ($_product->getIsSalable()) ://phpcs:ignore?>
                                                            <div class="stock available"><span>
                                                                <?= $block->escapeHtml(__('In stock'))?></span></div>
                                                        <?php else ://phpcs:ignore?>
                                                            <div class="stock unavailable"><span>
                                                                <?= $block->escapeHtml(__('Out of stock'))?>
                                                            </span></div>
                                                        <?php endif;?>
                                                    <?php endif;?>
                                                </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            <?php endforeach;?>
        </ol>
    </div>
        <?= $block->getToolbarHtml()?>
    <?php if (!$block->isRedirectToCartEnabled()) ://phpcs:ignore?>
    <?php endif;?>
        <?php
    endif;?>
    <?php
} else {
    $ConfigHelper = $this->helper(Nwuae\QuickShop\Helper\Data::class);//phpcs:ignore
    $getMappedCategory = $ConfigHelper->getCategoryConfig('enable1');
    ?>
    <?php
    // @codingStandardsIgnoreStart
    if (!$_productCollection->count()) :
    // @codingStandardsIgnoreEnd
        ?>
    <div class="message info empty">
        <div>
            <?= $block->escapeHtml(__('We can\'t find products matching the selection.'))?>
        </div>
    </div>
        <?php
    else ://phpcs:ignore?>
        <?= $block->getToolbarHtml()?>
        <?= $block->getAdditionalHtml()?>
        <?php
        if ($block->getMode() == 'grid') {
            $viewMode = 'grid';
            $imageDisplayArea = 'category_page_grid';
            $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;//phpcs:ignore
        } else {
            $viewMode = 'list';
            $imageDisplayArea = 'category_page_list';
            $showDescription = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;//phpcs:ignore
        }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
        $pos = $block->getPositioned();
        ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode?> products-<?= /* @noEscape */ $viewMode?>">
        <ol class="products list items product-items">
            <?php /**
                   * @var $_product \Magento\Catalog\Model\Product
                   */?>
            <?php foreach ($_productCollection as $_product) ://phpcs:ignore?>
                <li class="item product product-item">
                    <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode?>">
                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';//phpcs:ignore
                        }
                        ?>
                        <a href="<?= $block->escapeUrl($_product->getProductUrl())?>"
                           class="product photo product-item-photo"
                           tabindex="-1" data-sku="<?= /* @noEscape */ $_product->getSku();?>"
                            data-productid="<?= /* @noEscape */ $_product->getId();?>">
                            <?= /* @noEscape */ $productImage->toHtml()?>
                        </a>
                        <?php
                        // @codingStandardsIgnoreStart
                        $product1 = $loadProduct->get('Magento\Catalog\Model\Product')
                                        ->load($_product->getId());
                        // @codingStandardsIgnoreEnd    
                        if ($product1->getData('is_wallet')) {?>
                            <span title="Ewallet Product" class="ewal_icon"></span>
                            <?php
                        }?>
                        <div data-role="add-to-links" class="actions-secondary"
                        <?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : ''//phpcs:ignore?>>
                            <?php if ($addToBlock = $block->getChildBlock('addto')) ://phpcs:ignore?>
                                <?= $addToBlock->setProduct($_product)->getChildHtml()?>
                            <?php endif;?>
                        </div>
                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);//phpcs:ignore
                            ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $block->escapeUrl($_product->getProductUrl())?>">
                                    <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?><?php //phpcs:ignore ?>
                                </a>
                            </strong>
                            <?php if ($showDescription) ://phpcs:ignore?>
                            <div class="product description product-item-description">
                                <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')?><?php //phpcs:ignore ?>
                            </div>
                            <?php endif;?>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType)?>
                            <?= /* @noEscape */ $block->getProductPrice($_product)?>
                            <!-- <div class="vat_label"><?= $block->escapeHtml(__('(INCLUDING VAT)'))?></div> -->
                            <?php if ($_product->isAvailable()) ://phpcs:ignore?>
                                <?= $block->getProductDetailsHtml($_product)?>
                            <?php endif;?>
                            <?php if ($cat_id == $getMappedCategory) ://phpcs:ignore?>
                                <input type="hidden" id="current-product-id"  />
                                <input type="hidden" id="current-product-sku"  />
                                <input type="hidden" id="current-product-optionid"  />
                                <input type="hidden" id="current-product-optionvalue"  />
                                <input type="hidden" id="current-product-qty"  />
                            <?php endif;?>
                            <div class="product-item-inner">
                                <?php if ($_product->getTypeId() == 'bundle') ://phpcs:ignore?>
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()) ://phpcs:ignore?>
                                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)) ://phpcs:ignore?>
                                                        <button class="action tocart primary" 
                                                        data-mage-init='{"redirectUrl":{"url":
                                                        "<?= $block->escapeUrl($_product->getProductUrl())?>"}}'
                                                        type="button" title=
                                                        "<?= $block->escapeHtmlAttr(__('View More'))?>">
                                                            <span><?= $block->escapeHtml(__('View More'))?></span>
                                                        </button>
                                                    <?php else ://phpcs:ignore?>
                                                        <?php
                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');//phpcs:ignore
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);//phpcs:ignore
                                                        $postParams = json_decode($postData, true);
                                                        ?>
                                                        <form 
                                                              data-product-sku="<?= /* @noEscape */
                                                                $block->escapeHtmlAttr($_product->getSku())?>"
                                                              action="<?= $block->escapeUrl($postParams['action'])?>"
                                                              method="post">
                                                            <input type="hidden"
                                                                   name="product"
                                                                   value="<?= /* @noEscape */
                                                                    $postParams['data']['product']?>">
                                                            <input type="hidden" name="<?= /* @noEscape */
                                                            Action::PARAM_NAME_URL_ENCODED//phpcs:ignore?>"
                                                                   value="<?= /* @noEscape */ $postParams['data']
                                                                   [Action::PARAM_NAME_URL_ENCODED]//phpcs:ignore?>">
                                                            <?= /* @noEscape */ $block->getBlockHtml('formkey')?>

                                                            <div class="qty-wrapper">
                                                                <label for="super_group_<?= /* @noEscape */
                                                                $_product->getSku();?>" class="qty-label">
                                                                <?= $block->escapeHtmlAttr(__('Qty'))?> </label>
                                                                <input id="super_group_<?= /* @noEscape */
                                                                $_product->getSku();?>" type="text" pattern="\d*"
                                                                name="qty" maxlength="12" value="1" title="Qty"
                                                                class="input-text qty">
                                                            </div>
                                                            <button type="submit"
                                                                    title="<?= $block->escapeHtmlAttr(__('Add'))?>"
                                                                    class="action tocart primary btn-pink">
                                                                <span><?= $block->escapeHtml(__('Add'))?></span>
                                                            </button>
                                                        </form>
                                                    <?php endif;?>
                                                <?php else ://phpcs:ignore?>
                                                    <?php if ($_product->getIsSalable()) ://phpcs:ignore?>
                                                        <div class="stock available"><span>
                                                            <?= $block->escapeHtml(__('In stock'))?></span></div>
                                                    <?php else ://phpcs:ignore?>
                                                        <div class="stock unavailable"><span>
                                                            <?= $block->escapeHtml(__('Out of stock'))?></span></div>
                                                    <?php endif;?>
                                                <?php endif;?>
                                            </div>
                                        <?php else ://phpcs:ignore?>
                                    <div class="actions-primary">
                                        <?php if ($_product->isSaleable()) ://phpcs:ignore?>
                                            <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)) ://phpcs:ignore?>
                                                <button class="action tocart primary" 
                                                data-mage-init='{"redirectUrl":{"url":
                                                "<?= $block->escapeUrl($block->getAddToCartUrl($_product))?>"}}'
                                                type="button" title="<?= $block->escapeHtmlAttr(__('Add'))?>">
                                                    <span><?= $block->escapeHtml(__('Add'))?></span>
                                                </button>
                                            <?php else ://phpcs:ignore?>
                                                <?php
                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');//phpcs:ignore
                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);//phpcs:ignore
                                                $postParams = json_decode($postData, true);
                                                ?>
                                                <form
                                                        data-product-sku=
                                                        "<?= $block->escapeHtmlAttr($_product->getSku())?>"
                                                        action="<?= $block->escapeUrl($postParams['action'])?>"
                                                        method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?= /* @noEscape */ $postParams['data']['product']?>">
                                                    <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED//phpcs:ignore?>"
                                                           value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]//phpcs:ignore?>">
                                                    <?= /* @noEscape */ $block->getBlockHtml('formkey')?>

                                                    <div class="qty-wrapper">
                                                        <label for="super_group_<?= /* @noEscape */
                                                        $_product->getSku();?>" class="qty-label"> 
                                                        <?= $block->escapeHtmlAttr(__('Qty'))?> </label>
                                                        <input id="super_group_<?= /* @noEscape */
                                                        $_product->getSku();?>" type="text" pattern="\d*"
                                                        name="qty" maxlength="12" value="1" title="Qty" 
                                                        class="input-text qty">
                                                    </div>
                                                    <button type="submit"
                                                            title="<?= $block->escapeHtmlAttr(__('Add'))?>"
                                                            class="action tocart primary btn-pink">
                                                        <span><?= $block->escapeHtml(__('Add'))?></span>
                                                    </button>
                                                </form>
                                            <?php endif;?>
                                        <?php else ://phpcs:ignore?>
                                            <?php if ($_product->getIsSalable()) ://phpcs:ignore?>
                                                <div class="stock available"><span>
                                                    <?= /* @noEscape */ $block->escapeHtml(__('In stock'))?>
                                                </span></div>
                                            <?php else ://phpcs:ignore?>
                                                <div class="stock unavailable"><span>
                                                    <?= /* @noEscape */ $block->escapeHtml(__('Out of stock'))?>
                                                </span></div>
                                            <?php endif;?>
                                        <?php endif;?>
                                    </div>
                                        <?php endif;?>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach;?>
        </ol>
    </div>
        <?= $block->getToolbarHtml()?>
    <?php if (!$block->isRedirectToCartEnabled()) ://phpcs:ignore?>
    <?php endif;?>
        <?php
    endif;?>
    <?php
}
?>
<?php
/**
 * phpcs:enable
 */
?>