<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Customer\Block\Account\Customer $block */
?>

<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->create('Magento\Customer\Model\Session');
     if ($block->customerLoggedIn()) : ?>
          <li class="greet welcome welcome-msg" data-bind="scope: 'customer'">
            <!-- ko if: customer().firstname  -->
            <span class="logged-in customer-greeting"
                  data-bind="text: new String('<?= $block->escapeHtml(__('Welcome %1', '%1')) ?>').replace('%1', customer().firstname)">
            </span>
            <!-- /ko -->
          </li>
        <li class="customer-welcome">
            <span class="customer-name">
                <a href="<?php echo $block->getUrl('customer/account') ?>"><button type="button"
                                      class="action switch"
                                      tabindex="-1"
                                      data-action="customer-menu-toggle">

                </button></a>
            </span>


        </li>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>
<?php
$customer_type_id = $customerSession->getTypeId();
$customer_id = $customerSession->getId();
if($customer_id){
	$customer_id = 1;
}else{
	$customer_id = 0;
}
?>

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {
        var id = '<?php echo $customer_id; ?>';
        console.log(id);
        if(id == 1){
            $(".top-menu").hide();
        }
}); });</script>