<!--
/**
 * Aps_Fort Magento JS component
 *
 * @category    Aps
 * @package     Aps_Fort
 */
-->
<div class="payment-method ccform apsfort" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="error-ccform"></div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-content">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!-- ko foreach: { data: getVault(), as: 'item' } -->
            <div class="payment-method-title field choice vault">
                <input type="radio"
                name="vaultHash1"
                class="radio radiovaulthash"
                data-bind="value: item.public_hash,
                event:{click: $parent.newCard}"
                />
                <label class="label">
                    <img data-bind="attr: {
                    'src': item.typename,
                    }" class="payment-icon">
                    <span translate="'ending'"></span>
                    <span data-bind="text: item.maskedCC"></span>
                    (
                    <span translate="'expires'"></span>:
                    <span data-bind="text: item.expirationDate"></span>
                    )
                </label>
                <label class="label label-cvv cvv-hide">
                <input type="tel"
                            class="input-text cvv"
                            name="cvv"
                            value=""
                            maxlength="4"
                            data-bind="attr: {
                            title: $t('Card Verification Number'),
                            " disabled/>
                </label>
            </div>
            
            <!--/ko-->
            <div class="payment-method-title newcardtype field choice" data-bind="
            afterRender: afterVaultRender
            ">
                <input type="radio"
                name="vaultHash1"
                class="radio radiovaulthash"
                value="newCard" 
                data-bind="
                    click: newCard"
                />
                <label class="label" data-bind="
                text: $t('Add New Card')
                ">
                </label>
            </div>

        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <span data-bind="html: getInstructions()"></span>
            </div>
        </fieldset>
        <div class="checkout-agreements-block"> 
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko --> 
        <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: preparePayment,
                        attr: {title: $t('Place Order')},
                        css: {disabled: false},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>