<?php

/** @var \Nwuae\Customer\Block\Documents\Digitalinvoicestatus $block */

?>
<?php $digitalInvoiceStatus = $block->getDigitalInvoiceStatus() ?>
<div class="invoice-status">
    <?php echo __('Digital Invoice Status:') ?> <strong><?php echo ($digitalInvoiceStatus) ? __('Active') : __('Inactive') ?></strong> <span>|

    </span> <?php if ($digitalInvoiceStatus): ?>
        <a class="go-link-grey" href="#" ><?php echo __('Inactivate') ?>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>

        <script type="text/javascript">
            require(['jquery', 'documents'], function ($) {
                $('.go-link-grey').click(function(){
                    $(".invoice-status").changeDigitalInvoiceStatus('<?php echo $block->changeDigitalInvoiceStatusUrl(false) ?>');
                });
            });
        </script>
    <?php else: ?>
        <a class="go-link-grey" href="#" ><?php echo __('Activate') ?>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
        <script type="text/javascript">
            require(['jquery', 'documents'], function ($) {
                $('.go-link-grey').click(function(){
                    $(".invoice-status").changeDigitalInvoiceStatus('<?php echo $block->changeDigitalInvoiceStatusUrl(true) ?>');
                });
            });
        </script>
    <?php endif; ?>

    <?php echo (!$digitalInvoiceStatus) ? $this->getChildHtml('digital_invoice_consent_form') : ''; ?>


</div>
<div class="clearfix"></div>
