<?php

/** @var \Nwuae\Customer\Block\Documents $block */

?>
<?php
/* @var $_helper \Nwuae\Customer\Helper\Data  */
$_helper = $this->helper('Nwuae\Customer\Helper\Data');
$_coreHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$currentOrder = $block->getCurrentOrder();
$_activeWhereHelper = $this->helper('Nwuae\ActiveWhere\Helper\Data')
?>

<?php if ($_helper->customerHasOnlyNotActiveAddresses()): ?>
    <h3><?php echo __('You don\'t have active address(es)') ?></h3>
<?php else: ?>
    <div class="section-block block ">
        <div class="block-title"><strong><?php echo __('Payment History') ?></strong></div>
        <div id="payments-wrap"></div>
        <div id="payments-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>
    </div>
    <div class="section-block block ">
        <div class="block-title"><strong><?php echo __('Invoices') ?></strong></div>
        <div id="invoices-wrap"></div>
        <div id="invoices-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>
        <div id="digitalinvoicestatus-wrap"></div>
        <div id="digitalinvoicestatus-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>
    </div>
    <div class="section-block block ">
        <div class="block-title"><strong><?php echo __('Other Documents') ?></strong></div>
        <div id="deliveries-wrap"></div>
        <div id="deliveries-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>
    </div>

    <script type="text/javascript">
        require([
            'jquery',
            'documents'
        ], function ($) {
            $(".section-block").documents('<?php echo $block->getInvoicesUrl() ?>', '<?php echo $block->getDigitalinvoicestatusUrl() ?>', '<?php echo $block->getPaymentsUrl() ?>', '<?php echo $block->getDeliveriesUrl() ?>', '<?= $_activeWhereHelper->formatAcwDate($currentOrder->getCreatedAt(), 1) ?>', '<?= $_coreHelper->currency($currentOrder->getGrandTotal(), true, false) ?>' );
        });
    </script>
<?php endif; ?>
