<?php
/* @var $_helper Nwuae\Customer\Helper\Data */
$_helper = $this->helper('Nwuae\Customer\Helper\Data');
$sessionAcwAddressId = $_helper->getSessionAcwaddressId();
?>
<div class="dashboard">
    <?php if ($_helper->customerHasOnlyNotActiveAddresses()): ?>
        <?php if ($_helper->hasCustomerPlacedOrder() == false): ?>
            <?php echo __("Please place your first order to activate your account."); ?>
        <?php else: ?>
            <?php echo __("Your account is under review, our call center will be in touch with you shortly. Otherwise please call us at 44335777."); ?>
        <?php endif; ?>
    <?php else:?>
        <p>
            <select name="acw_address_id" id="acw_address_id" class="acw-address-select" title="" >
                <?php foreach ($_helper->getAddressesHtmlSelects() as $key => $value): ?>
                    <option id="<?= $value['value'] ?>" <?php if ($value['value'] == $sessionAcwAddressId ) echo 'selected' ; ?> value="<?= $value['value'] ?>" ><?= $value['label'] ?></option>
                <?php endforeach; ?>
            </select>
        </p>
        <?php
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/nextdeliverydate.phtml')->toHtml();
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/events.phtml')->toHtml();
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/events/calendar.phtml')->toHtml();
    endif; ?>
</div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui', 'cevents'], function($){
        $('#acw_address_id').change(function(){
            var id= $('#acw_address_id option:selected').val();
            //var url = <?//= $block->getPopupUrl() ?>//+ id;
            $(".dashboard").getSelectedAcwAddress('<?php echo $this->getUrl('customer/account/postdata') ?>', id);
        });
    });
</script>
