<?php
/** @var \Nwuae\Customer\Block\Account\Dashboard $block */
?>
<div class="block">
    <div class="block-title"><strong><?php echo __('Dashboard'); ?></strong></div>
    <div class="block-content">
        <div class="box-dashbord row">
            <div class="column alpha col-lg-4 col-md-12 col-sm-12 col-xs-12 left-access upcoming-delivery">
                <strong class="box-title"><span><?php echo __('Upcoming delivery'); ?></span></strong>
                <div class="access-inner">
                    <p><?php echo __('Your next delivery will arrive:'); ?></p>
                    <?php $nextDeliveryDate = $block->getNextDeliveryDate(); ?>
                    <?php if ($nextDeliveryDate): ?>
                        <p><strong><?php echo $nextDeliveryDate ?></strong></p>
                    <?php else: ?>
                        <p><strong><?php echo ('None'); ?></strong></p>
                    <?php endif; ?>
                </div>
            </div>
            <div class="payment-infomation col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <?php $paymentInformation = $block->getPaymentInformation() ?>
                <?php $dueDate = ($paymentInformation->DueDate) ? $paymentInformation->DueDate : 'None' ?>
                <div class="column alpha right-access payment-info">
                    <strong class="box-title"><span><?php echo __('Payment information'); ?></span></strong>
                    <div class="access-inner">
                        <p><?php echo __("Amount to pay: ").$paymentInformation->OverDueAmount; ?></p>
                        <p><?php echo  __("Due date: ").$dueDate; ?></p>
                    </div>
                </div>
            </div>

            <div class="e-coupon col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <?php $eCouponBalance = $block->geteCouponBalance() ?>
                <?php $Balance = ($eCouponBalance) ? $eCouponBalance : '0' ?>
                <div class="column alpha right-access e-coupon">
                    <strong class="box-title"><span><?php echo __('My e-Coupons'); ?></span></strong>
                    <div class="access-inner">
                        <p><?php echo  __("Remaining e-Coupon balance: ").$Balance; ?></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



