<?php
/** @var \Nwuae\Customer\Block\Account\Dashboard $block */
?>
<?php $paymentInformation = $block->getPaymentInformation() ?>
<?php $dueDate = ($paymentInformation->DueDate) ? $paymentInformation->DueDate : 'None' ?>
<div class="column alpha large-6 medium-6 small-6 right-access payment-info">
    <h3><?php echo ('Payment information'); ?></h3>
    <div class="access-inner">
        <p><?php echo "Amount to pay: - ".$paymentInformation->OverDueAmount; ?></p>
        <p><?php echo "Due date: ".$dueDate; ?></p>
    </div>
</div>
