<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<form class="form password forget"
      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
      <div class="block-title">
            <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Retrieve your password here')) ?></strong>
        </div>
    <fieldset class="fieldset">
        
        
        <div class="field note"><strong><?= $block->escapeHtml(__('Please enter your email address below. You will receive a link to reset your password.')) ?></strong></div>
        <div class="field required-note"><strong><?= $block->escapeHtml(__('* Required Fields')) ?></strong></div>
        <div class="field email required">
            <!-- <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label> -->
            <div class="control">
                <input type="email" name="email" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" placeholder="<?= $block->escapeHtml(__('* Email Address')) ?>">
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
         <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary blue-btn"><span><?= $block->escapeHtml(__('Submit')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Back to sign in')) ?></span></a>
        </div>
    </div>

    </fieldset>

</form>
