<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Login\Info $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeManager->getStore()->getBaseUrl();
?>
<?php if ($block->getRegistration()->isAllowed()) : ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('New Here?')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <!-- <p><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p> -->
        <?php 
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('registration_text')->toHtml();
         ?>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?php echo $storeManager->getStore()->getBaseUrl().'customer/existed'; ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
            </div>
        </div>
        <!--<div class="existing_subscribers">
            <div class="wrap">
                <div class="block-title"><strong><?= $block->escapeHtml(__('Existing Nestlé Pure Life Subscribers')) ?></strong></div>
                <p><?= $block->escapeHtml(__('Already have an account with Nestlé Pure Life ? Click on the button below to create your online profile to start placing online orders today')) ?><br><?= $block->escapeHtml(__('Note: You will have to provide us the registered mobile number')) ?></p>
                <div class="buttons-set">
                    <a class="button action primary" href="<?php echo $storeManager->getStore()->getBaseUrl().'customer/existed'; ?>"><span><span><?= $block->escapeHtml(__('Existing Subcribers - Register to Gain Online Access')) ?></span></span></a>
                </div>
            </div>
        </div>-->
    </div>
</div>
<?php endif; ?>

